<section id="apropos">
    <h2>À Propos</h2>
    <div class="propos">
        <p>
        Développeur en Licence Professionnelle : Application Web à l'Université Clermont-Ferrand depuis Septembre 2022
        </p>
        <p>
        Actuellement Developpeur Web Thélia en Alternance chez OpenStudio à Clermont-Ferrand
        </p>

        <a class="btn btn-outline-primary" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/DaSilvaMendoncaThomasCV.pdf" download="CVDaSilvaMendoncaThomas.pdf">Télecharger mon CV 💾</a>
    </div>
</section>
