<section id="contact">
    <div>
        <h2>Contact</h2>
        <p>
            Mon Adresse Mail : thomas.dasilvamendonca@protonmail.com
        </p>
        <div>
            <a href="https://github.com/thomas-dsm">
                <img class="icon" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/github.png">
            </a>
            <a href="https://www.linkedin.com/in/thomas-da-silva-mendonca-3539621b8/">
                <img class="icon" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/linkedin.png">
            </a>
        </div>

        <a class="btn btn-outline-dark mt-2" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/DaSilvaMendoncaThomasCV.pdf" download="CVDaSilvaMendoncaThomas.pdf">Télecharger mon CV 💾</a>
    </div>
</section>    