<section id="cursus">
    <h2>Cursus</h2>
    <div class="cursus">
        <div class="d-flex flex-row mb-5">
            <img class="rounded logo" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/uca_logo.png" alt="Logo">
            <p>
            2022-2023 Licence pro : Application Web à Université Clermont Auvergne(UCA) à Aubiere
            </p>    
        </div>
        <div class="d-flex flex-row mb-5">
            <img class="rounded logo" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/al_logo.png" alt="Logo">
            <p>
            2020-2022 BTS SIO (Services Informatiques aux Organisations) au Lycée Albert Londres à Cusset
            </p>
        </div>
        <div class="d-flex flex-row mb-5">
            <img class="rounded logo" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/uca_logo.png" alt="Logo">
            <p class="">
            2019-2020 DUT Informatiques 1ere Année à Université Clermont Auvergne(UCA) à Aubiere
            </p>
        </div>
        <div class="d-flex flex-row">
            <img class="rounded logo" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/jz_logo.png" alt="Logo">
            <p>
            2016-2019 Bac S option Sciences de l'Ingenieur (SI) au Lycée Jean Zay
            </p>
        </div>
    </div>
</section>